<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Masonite 4{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block head %}
    <!-- <link rel="stylesheet" href="/assets/css/app.css"> -->
    {% endblock %}
  </head>
  <body bgcolor="#081426">
    {% block content %}{% endblock %}
    {% block js %}
    <!-- <script src="/assets/js/app.js"></script> -->
    {% endblock %}
  </body>
  
  <nav class="flex space-x-4 justify-center text-gray-500 uppercase text-sm">
    <a class="cabinet-component__rsv-logo" href="https://rsv.ru">
      <img src="/logo_rsv.svg" alt="rsv" class="h-20 w-20 mb-4">
    </a>
    <a class="cabinet-component__minek-logo" href="https://www.economy.gov.ru/">
      <img src="/logo_minek.png" alt="minek" class="h-20 w-20 mb-3">
    </a>
  </nav>
</html>
