<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KDA Server</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  {% block content %}
  <div class="h-screen flex flex-col items-center justify-center">
    <p class="text-center">Извините, этот сайт в настоящее время закрыт на техническое обслуживание.</p>
  </div>
  {% endblock %}
</body>

</html>