{% extends "base.html" %}
{% block title %}Welcome on Masonite 4{% endblock %}

{% block content %}
<div class="h-screen flex flex-col items-center justify-center">
  <img src="/logo.svg" alt="KDA Logo" class="h-25 w-25 mb-7">

  <nav class="flex space-x-4 justify-center text-gray-500 uppercase text-sm">
    <a href="https://github.com/EgorLedyaev/kda_vk_hackathon" class="px-3 py-2 hover:text-indigo-700">
      Документация
    </a>

    <a href="https://github.com/EgorLedyaev/kda_vk_hackathon" class="px-3 py-2 hover:text-indigo-700">
      GitHub
    </a>
  </nav> 
  <br>  <br>
  <nav class="flex space-x-4 justify-center text-gray-500 uppercase text-sm">
    <a class="qr-logo" href="https://drive.google.com/file/d/1bb4uoVznEImTt7DJehBVLVycWIaOocb_/view?usp=sharing">
      <img src="/qr_cast.png" alt="kda" class="h-40 w-40 mb-7">
    </a>
    <a class="qr-logo" href="https://cloud.mail.ru/public/1tEm/rFZSUKjEu">
      <img src="/qr_pdf.png" alt="kda" class="h-40 w-40 mb-7">
    </a>
  </nav>
  <nav class="text-gray-500 uppercase">
    <a class="px-3 py-2">
      Скринкаст
    </a>

    <a  class="px-3 py-2">
      Презентация
    </a>
  </nav>
  
</div>

{% endblock %}
